<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        <li><a href="{% url 'view1' %}">Перейти на Сторінку 1</a></li>
        <li><a href="{% url 'view2' %}">Перейти на Сторінку 2</a></li>
        <li><a href="{% url 'view3' %}">Перейти на Сторінку 3</a></li>
        <li><a href="{% url 'view4' %}">Перейти на Сторінку 4</a></li>
        <li><a href="{% url 'view5' %}">Перейти на Сторінку 5</a></li>
    </ul>
</body>
</html>